<div class='card'>
  <div class ="front">
    <p><%= reward.title %><br>
    <%= reward.description %>
    <%= reward.amount %></p>
  </div>
  <div class ="back">
  You have pledged <%= reward.amount %>!
  </div>
</div>