@import "bootstrap";

body {
	max-width: 800px;
	margin: auto;
}

div.navbar-brand {
	font-size: 1.5em;
	font-weight: bold;
}

a#no-hover:hover {
	color: #777 !important;
}

#card {
  border: black 1px solid;
}